@import "svg/_svg";

$blue-color: rgba(0, 128, 255);
$lime-color: rgba(64, 255, 0);
$white-color: rgba(255, 255, 255);
$black-color: rgba(0, 0, 0);
$grey-color: rgba(64, 64, 64);

$base: 0.625rem;

.vrc-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba($black-color, 40%);
  z-index: 99999;
}
  
.vrc-popup {
  position: fixed;
  cursor: pointer;
  border: (.2 * $base) solid transparent;
  
  &--blue {
    background-color: rgba($blue-color, 30%);
    border-color: $blue-color;
  }
  
  &--lime {
    background-color: rgba($lime-color, 30%);
    border-color: $lime-color;
  }
  
  &--highlight {
    background-color: rgba($white-color, 30%);
    border-color: $white-color;
  }
}
  
.vrc-info {
  display: flex;
  flex-direction: column;
  gap: $base;
  width: 50 * $base;
  height: 40 * $base;
  padding: $base;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba($black-color, 80%);
  border: (.7 * $base) solid rgba($white-color, 40%);
  border-left: none;
  overflow-y: scroll;
  
  &__wing {
    display: flex;
    align-items: center;
    width: 3.2 * $base;
    height: 40 * $base;
    position: fixed;
    bottom: 0;
    right: 50 * $base;
    background-color: rgba($black-color, 80%);
    border: solid rgba($white-color, 40%);
    border-width: .7 * $base;
    border-right-width: (.1 * $base);
    transition: background-color .2s;
    
    &::before {
      content: "";
      flex-shrink: 0;
      display: block;
      width: 2 * $base;
      height: 2 * $base;
      background-image: url($caret-down-svg);
      background-position: center;
      background-size: 2 * $base;
      filter: invert(.9);
      transform: rotate(90deg);
    }
    
    &:hover {
      background-color: rgba($grey-color, 0.8);
    }
  }
  
  &__box {
    display: flex;
    flex-direction: column;
  }
  
  &__title {
    font-size: 1.8 * $base;
    font-weight: bold;
  }
  
  &__textarea {
    resize: none;
    height: 6 * $base;
    padding: (.2 * $base) (.5 * $base);
    background-color: #3b3b3b;
    border: initial;
    overflow-y: auto;
    overflow-wrap: break-word;
  }
  
  &__fade {
    color: grey;
  }
  
  &__button {
    flex-shrink: 0;
    height: 4 * $base;
    border-radius: .6 * $base;
    background: linear-gradient(90deg, rgb(0,95,175) 0%, rgb(0,176,217) 100%);
    border: initial;
    
    &:active {
      padding-top: .4 * $base;
      box-shadow: inset 0px (.4 * $base) 0px rgba($black-color, 50%);
    }
  }
}